.header{
    height: 10%;
    background-color: black;
    color: blanchedalmond;
    display: flex;
    justify-content: space-around;
    .logo{
       font-size: 28px;
       padding: 10px;
    }
    
}